body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a3218752;
}

h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.divUpload {
  background-color: #000747;
  color: #ffffff;
  padding: 3rem;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
  background-color: #0013be;
  padding: 12px;
  height: 100%;
}

.link-react {
  color: #ffffff;
  text-decoration: none; 
}